################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/rsp_tcp/x64/Debug/RSP_tcp.tlog
/rsp_tcp/x64/Debug
/x64/Debug/RSP2_tcp.ilk
/x64/Debug/RSP2_tcp.pdb
/RSP_TCP.VC.db
/RSP_TCP.VC.VC.opendb
/rsp_tcp/x64/Release/RSP_tcp.tlog
/rsp_tcp/x64/Release
/.vs/RSP_TCP/v15/Solution.VC.db-wal
/.vs/RSP_TCP/v15/Solution.VC.db-shm
/.vs/RSP_TCP/v15/Solution.VC.db
/.vs/RSP_TCP/v15/Browse.VC.opendb
/.vs/RSP_TCP/v15/Browse.VC.db
/.vs/RSP_TCP/v15/ipch/AutoPCH/a2c43de2d23bc1cb/RSP_TCP.ipch
/.vs/RSP_TCP/v15/ipch/AutoPCH/7d56518f5a4ed131/MIR_SDR_DEVICE.ipch
/.vs/RSP_TCP/v15/ipch/AutoPCH
/x64/Release/RSP2_tcp.iobj
/x64/Release/RSP2_tcp.ipdb
/x64/Release/RSP2_tcp.pdb
/.vs/RSP3_TCP/v15/Browse.VC.db
/.vs/RSP3_TCP/v15/Solution.VC.db
/.vs/RSP3_TCP/v16/.suo
/.vs/RSP3_TCP/v15/.suo
/.vs/RSP3_TCP/v16/Solution.VC.db-wal
/.vs/RSP3_TCP/v16/Solution.VC.db-shm
/.vs/RSP3_TCP/v16/Solution.VC.db
/.vs/RSP3_TCP/v16/ipch/AutoPCH/cf3057b70b440ed0/RECEIVETHREAD.ipch
/.vs/RSP3_TCP/v16/ipch/AutoPCH/beb4f896cc492981/RSP3_TCP.ipch
/.vs/RSP3_TCP/v16/ipch/AutoPCH/afb0e5158d0dd319/SDRPLAY_DEVICE.ipch
/.vs/RSP3_TCP/v16/ipch/AutoPCH/ac71fe7866a6f0ae/DEVICES.ipch
/.vs/RSP3_TCP/v16/ipch/AutoPCH/71340dd48fbcb355/SDRGAINTABLE.ipch
/.vs/RSP3_TCP/v16/ipch/AutoPCH/66d213c494e30e60/CONTROLTHREAD.ipch
/.vs/RSP3_TCP/v16/ipch/AutoPCH/5982954cefcd7ef0/DEVICES.ipch
/.vs/RSP3_TCP/v16/ipch/AutoPCH/4724c41d6a4bf467/SDRPLAY_DEVICE.ipch
/.vs/RSP3_TCP/v16/ipch/AutoPCH/2b3d6eca0b597eb/RSP3_TCP.ipch
/.vs/RSP3_TCP/v16/Browse.VC.opendb
/.vs/RSP3_TCP/v16/Browse.VC.db-wal
/.vs/RSP3_TCP/v16/Browse.VC.db-shm
/.vs/RSP3_TCP/v16/Browse.VC.db
/posix/dll/x86/pthreadVSE2.dll
/posix/dll/x86/pthreadVCE2.dll
/posix/dll/x86/pthreadVC2.dll
/posix/dll/x86/pthreadGC2.dll
/posix/dll/x86/md5.sum
/posix/dll/x64/pthreadVC2.dll
/posix/dll/x64/pthreadGC2.dll
/posix/include/md5.sum
/posix/dll/x64/md5.sum
/posix/lib/x86/libpthreadGC2.a
/posix/lib/x86/md5.sum
/rsp_tcp/lib64/mir_sdr_api.dll
/rsp_tcp/lib32/pthreadVC2.dll
/rsp_tcp/lib32/mir_sdr_api.lib
/rsp_tcp/lib32/mir_sdr_api.dll
/rsp_tcp/rsp_tcp.7z
/x64/Debug/mir_sdr_api.dll
/UpgradeLog5.htm
/UpgradeLog4.htm
/UpgradeLog3.htm
/UpgradeLog2.htm
/UpgradeLog.htm
/RSP_tcp_setup_/sdr_tcp_setup.vdproj
/RSP_tcp_setup_/Release/setup.exe
/RSP_tcp_setup_/Release/RSP_tcp_setup.msi
/RSP_tcp_setup_/Debug/setup.exe
/RSP3_TCP.v12.suo
/RSP3_TCP.sdf
/.vs/RSP3_TCP/v16/ipch/AutoPCH/96041241db783542/CONTROLTHREAD.ipch
/.vs/RSP3_TCP/v16/ipch/AutoPCH/8ba9e6b1eb0a7c6/RECEIVETHREAD.ipch
/.vs/RSP3_TCP/v16/ipch/AutoPCH/65daed1b3c14181b/SDRGAINTABLE.ipch
*.ipch
